.header {
  text-align: center;
  font-weight: bolder;
}

#box1, #box3 {
  border: solid black 3px;
  margin-bottom: 4px;
  background-color: green;
  margin: 2px;
}

#box2, #box4 {
  border: solid black 3px;
  margin-bottom: 4px;
  background-color: gray;
  margin: 2px;
}
