body {
  display: block;
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 100%;
  font-family: 'Orbitron', sans-serif;
  color: black;
}

.header {
  text-align: center;
  font-weight: bolder;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #50B7B4;
  color: white;
  font-size: 2em;
}

#box1 {
  border: solid black 3px;
  margin-bottom: 4px;
  background-color: #8A3953;
  margin: 2px;
  font-size: 20px;
}

#box2 {
  width: 45%;
  max-height: 300px;;
  background-image: url("../img/mpb-pizza.gif");
  display: none;
  border: dotted black 3px;
  margin-bottom: 4px;
  background-color: white;
  margin: 2px;
}

#order-total {
  font-weight: bold;
  color: darkred;
}

#show-order h5 {
  font-size: 30px;
}

.new-size {
  font-size: 20px;
}

.new-quantity {
  font-size: 15px;
}
